.container6 {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5.3em 1fr;
    border: 1px solid var(--mint);
    height: 100%;
    border-radius: 1em;
}

.resultContainer {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    padding-inline: 1em;
}

.containerHidden {
    display: none;
}
