.btn-group {
    padding-top: 3.5em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: left;
}

.searchChoice {
    color: black;
    padding: 0.5rem;
    width: 5em;
    border-radius: 4em;
    font-family: var(--paragraph-font);
    font-size: 1.3em;
    font-weight: 700;
    transition: 0.3s;
}

.nonfocus:hover {
    background-color: var(--neon);
}

.nonfocus {
    background-color: var(--jade);
    color: black;
    padding: 0.5rem;
    width: 5em;
    border-radius: 4em;
    font-family: var(--paragraph-font);
    font-size: 1.3em;
    font-weight: 700;
    transition: 0.3s;
}

.focus {
    background-color: var(--neon);
    color: black;
    padding: 0.5rem;
    width: 5em;
    border-radius: 4em;
    font-family: var(--paragraph-font);
    font-size: 1.3em;
    font-weight: 700;
    transition: 0.3s;
}

@media only screen and (max-width: 1600px) {
    .btn-group {
        padding-top: 2.5em;
        justify-content: center;
    }

    .focus, .nonfocus {
        width: 5em;
        border-radius: 4em;
        font-size: 1.1em;
    }
}