.searchIcon {
    display: block;
    background-color: var(--mint);
    color: black;
    height: 1.7em;
    padding: 0.2em 0.2em 0.2em 0.6em;
  }

  @media only screen and (max-width: 1600px) {
    .searchIcon {
        height: 1.4em;
    }
}