
ul {
    width: 100%;
    padding-left: 0;
    display: block;
}

.item {
    display: grid;
    grid-template-columns: 5em 1fr 2em;
    padding: 0.5em;
    border-bottom: 1px solid var(--mint);
    word-wrap: break-word;
    overflow: hidden;
}

.itemInfos {
    grid-column: 2;
    table-layout: fixed;
    width: 100%;
    color: var(--mint);
    font-family: var(--paragraph-font);
    text-align: left;
}

.categories {
    width: 25%;
    padding-top: 0.3em;
    color: var(--jade);
    font-family: var(--paragraph-font);
    vertical-align: top;
    text-align: left;
}

.categories-data {
    width: auto;
    padding-top: 0.3em;
    vertical-align: top;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.addItem {
    grid-column: 3;
    justify-self: end;
}

.addItemIcon {
    color: var(--jade);
    font-size: 1.7em;
    transition: 0.2s ease-in-out;
}

.addItemIcon:hover {
    color: var(--neon);
}

.img-container {
    grid-column: 1;
    align-self: center;
    height: 4em;
    width: 4em;
    border: 1px solid var(--mint);
}