.container1 {
    padding-right: 3em;
    grid-column: 1;
    grid-row: span 2;

}

.menuWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 8em;
}

.sowhat {
    color: var(--mint);
    font-family: var(--heading-font);
    font-size: 3em;
    line-height: 1.3em;
}

.musicLover{
    color: var(--jade);
}

p {
    padding-top: 1em;
    padding-bottom: 2em;
    color: var(--mint);
    font-family: var(--paragraph-font);
    font-size: 1.5em;
    line-height: 1.5em;
}

.searchInput {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    height: 3em;
    padding:1rem;
    border-radius: 5em;
    border: none;
    font-family: var(--paragraph-font);
    -webkit-font-smoothing: antialiased;
    font-size: 1.2em;
    font-weight: 600;
    background-color: var(--mint);
}

input {
    display: block;
    width: 90%;
    
    border: none;
    background-color: var(--mint);
    font-family: var(--paragraph-font);
    font-size: 2em;
}

input:focus {
    outline: none;
}

.searchIcon {
    display: block;
    background-color: var(--mint);
    color: black;
    height: 1.7em;
    padding: 0.2em 0.2em 0.2em 0.6em;
  }

.btn-group {
    padding-top: 3.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#searchChoice {
    background-color: var(--jade);
    color: black;
    padding: 0.5rem;
    width: 5em;
    border-radius: 4em;
    font-family: var(--paragraph-font);
    font-size: 1.3em;
    font-weight: 700;
    transition: 0.3s;
}

#searchChoice:hover, #searchChoice:focus {
    background-color: var(--neon);
}

