.container2 {
    padding-left: 2em;
    border-bottom: 1px solid var(--mint);
    background-color: black;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.ja{
    font-family: var(--heading-font);
    color: var(--mint);
    font-size: 4.5em;
}

.mmm {
    color: var(--neon);
}

.ing {
    color: var(--jade);
}

.login {
    background-color: var(--jade);
    color: black;
    padding: 0.5rem;
    margin-right: 5rem;
    margin-top: 1.5rem;
    width: 5em;
    border-radius: 4em;
    font-family: var(--paragraph-font);
    font-size: 1.3em;
    font-weight: 700;
    transition: 0.3s;
}

.login:hover {
    background-color: var(--neon);
}
