.handleList {
    height: 8em;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1.2em;
    column-gap: 1em;
    padding: 1.5em;
    border-top: 1px solid var(--mint);
}

.handleListClosed {
    height: 8em;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1.2em;
    column-gap: 1em;
    padding: 1.5em;
    border-top: 0;
}

/*RESPONSIVE-Landscape---------------------------------------------------------------------------------------------------------*/

/*RESPONSIVE-Portrait----------------------------------------------------------------------------------------------------------*/

@media only screen and (orientation: portrait) and (max-width: 400px) {
    
 }