.container5 {
    grid-column: 3;
    grid-row: span 2;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 5.3em 1fr 8em;
    
    border: 1px solid var(--mint);
    background-color: black;
    height: 100%;
    border-radius: 1em;
}

.lists-Header {
    grid-row: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid var(--mint);
}

.lists-h2 {
    color: var(--mint);
    font-family: var(--heading-font);
    font-size: 2em;
    align-self: center;
}

.listContainer {
    grid-row: 2;
    width: 100%;
    padding-inline: 1em;
    overflow: hidden;
}

.removeItemIcon {
    grid-column: 3;
    color: var(--neon);
    font-size: 1.7em;
    transition: 0.2s ease-in-out;
}

.removeItemIcon:hover {
    color: var(--jade);
}