.container5 {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5.3em 1fr 8em;
    
    border: 1px solid var(--mint);
    background-color: black;
    height: 100%;
    border-radius: 1em;
}

.lists-Header {
    grid-row: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid var(--mint);
}

.lists-h2 {
    grid-row: 1;
    width: 50%;
    color: var(--mint);
    font-family: var(--heading-font);
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: center;
}

.expand {
    position: absolute;
    width: 2em;
    height: 2em;
    right: 2em;
    align-self: center;
    background-color: var(--mint);

}

.listContainer {
    grid-row: 2;
    width: 100%;
    padding-inline: 1em;
    overflow: hidden;
}

.listContainerHidden {
    display: none;
}

.removeItemIcon {
    grid-column: 3;
    color: var(--neon);
    font-size: 1.7em;
    transition: 0.2s ease-in-out;
}

.removeItemIcon:hover {
    color: var(--jade);
}

